<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #7c3535;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/add"> LMS Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/add">Add employee</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/addGuard">Add Guard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/view">View employee</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/viewGuard">View Guard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/search">Search employee</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/searchGuard">Search Guard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/Leaves">Leaves To Respond</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/viewadminguest">View guests</a>
                </li>
            </ul>

            <a href="\" class="btn btn-danger ">
                Sign Out
            </a>
        </div>
    </div>
</nav>