<div  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ1N7QMxVw17OgGyRaD5kMSLDOTjzPtVxytQ&usqp=CAU);   background-repeat: no-repeat;    background-size: cover;   background-position: center center;">
    <div class=" d-flex  justify-content-center" style="height: 100vh">
        <div class="row align-self-center d-flex " style="display: contents;">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 ">
                <div class="row g-3 ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 vm-2">
                        <h3 style="color: antiquewhite;" > Employee login</h3>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label style="color: antiquewhite;"  for="username" class="form-label">User Name:</label>
                        <input name="username" [(ngModel)]="userName" type="text" class="form-control">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label style="color: antiquewhite;"  for="password" class="form-label">password:</label>
                        <input name="password" [(ngModel)]="password" type="password" class="form-control">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a (click)="works()" class="btn btn-success">login</a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a href="\" class="btn btn-outline-success">admin login  </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

